<app-navbar></app-navbar>

<h1>SILAB - Servicio Integrado de Laboratorios de ESPOL</h1>

<div class="flipbook">
    <h3>Boletín de Vigilancia Tecnológica y comercial - Agosto 2022</h3>
    <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=un3yhcco7k" width="100%" height="480"
        seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen></iframe>
</div>

<div class="twitter-feed">
    <ngx-twitter-timeline [source]="{sourceType: 'profile', screenName: 'SilabESPOL'}" [options]="{height: '400'}">
    </ngx-twitter-timeline>
</div>

<div class="twitter-feed">
    <ngx-twitter-timeline [source]="{sourceType: 'profile', screenName: 'espol'}" [options]="{height: '400'}">
    </ngx-twitter-timeline>
</div>

<app-contacto></app-contacto>