<app-navbar></app-navbar>

<h1>Acerca de nosotros</h1>

<h2>¿Quienes somos?</h2>
<p>Somos un equipo multidisciplinario comprometido con la integración y el
    fortalecimiento de los laboratorios de análisis y ensayos de ESPOL
    para servicio del país.
</p>

<h2>¿Que hacemos?</h2>
<p>Identificamos y promovemos oportunidades de mejora, potenciamos la formación
    del personal de laboratorios para alcanzar niveles de alta calidad,
    colaboramos con las iniciativas y proyectos institucionales y articulamos
    las capacidades de los laboratorios con entes externos a ESPOL sean estos
    instituciones públicas o privadas con la finalidad de generar un impacto
    transformador en la sociedad y que contribuya a la sostenibilidad
    institucional.
</p>

<h2>Áreas de trabajo</h2>
<h3>Química y Energía</h3>
<ul>
    <li>Centro de Energías Ronovables y Alternativas, CERA.</li>
    <li>Laboratorio de Análisis Químico Instrumental, LAQUINS.</li>
    <li>Laboratorio de Hidrocarburos.</li>
</ul>

<h3>Alimentos y Agroindustria</h3>
<ul>
    <li>Centro de Biotecnologías del Ecuador, CIBE.</li>
    <li>Laboratorio de Análisis de Alimentos y Ambiente, PROTAL.</li>
    <li>Laboratorio de Sueles y Nutrición vegetal.</li>
</ul>

<h3>Construcción e Ingeniería</h3>
<ul>
    <li>Centro de Investigación y Proyectos Aplicados a las ciencias de la Tierra, CIPAT.</li>
    <li>Laboratorio de Evaluación y Materiales, LEMAT.</li>
    <li>Laboratorio de Geotécnia y Construcción.</li>
    <li>Laboratorio de Petrografía.</li>
</ul>

<h3>Salud, Sociedad y Ambiente</h3>
<ul>
    <li>Centro Nacional de Acuicultura e Invesitgaciones Marinas, CENAIM.</li>
    <li>Centro de Aguas y Desarrollo Sustentable - Laboratorio de Investigación en Ecosistemas Acuáticos, CADS.</li>
    <li>Centro de Invesitgaciones Económicas - Laboratorio de Economía Experimental y del Conocimiento, CIEC.</li>
    <li>Laboratorio de Investigaciones Toxicológicas y Salud Ambiental.</li>
    <li>Laboratorios de Investigación Biomédicas.</li>
</ul>